In [1]:
import pandas as pd
import numpy as np

# Task 1

Скачать файл в уроке  
Считать данные с помощью pandas  
Вывести на экран первые 5 строк  
Посмотреть на описание признаков и на их содержание

In [2]:
flats = pd.read_csv('kc_final.csv')
flats.head(5)

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [3]:
flats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     21613 non-null  int64
 1   id             21613 non-null  int64
 2   date           21613 non-null  object
 3   price          21613 non-null  float64
 4   bedrooms       21613 non-null  int64
 5   bathrooms      21613 non-null  float64
 6   sqft_living    21613 non-null  int64
 7   sqft_lot       21613 non-null  int64
 8   floors         21613 non-null  float64
 9   waterfront     21613 non-null  int64
 10  view           21613 non-null  int64
 11  condition      21613 non-null  int64
 12  grade          21613 non-null  int64
 13  sqft_above     21613 non-null  int64
 14  sqft_basement  21613 non-null  int64
 15  yr_built       21613 non-null  int64
 16  yr_renovated   21613 non-null  int64
 17  zipcode        21613 non-null  int64
 18  lat            21613 non-null  float64
 19  long           21613 non-null  float64
 20  sqft_living15  21613 non-null  int64
 21  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(16), object(1)
memory usage: 3.6+ MB

##### Column Names
***id***  - Unique ID for each home sold  
***date***  - Date of the home sale  
***price*** - Price of each home sold  
***bedrooms*** - Number of bedrooms  
***bathrooms*** - Number of bathrooms, where .5 accounts for a room with a toilet but no shower  
***sqft_living*** - Square footage of the apartment interior living space  
***sqft_lot*** - Square footage of the land space  
***floors*** - Number of floors  
***waterfront*** - A dummy variable for whether the apartment was overlooking the waterfront or not  
***view*** - An index from 0 to 4 of how good the view of the property was  
***condition*** - An index from 1 to 5 on the condition of the apartment  
***grade*** - An index from 1 to 13, where 1-3 falls short of building construction and design, 
7 has an average level of construction and design, and 11-13 have a high-quality level of construction and design.  
***sqft_above*** - The square footage of the interior housing space that is above ground level  
***sqft_basement*** - The square footage of the interior housing space that is below ground level  
***yr_built*** - The year the house was initially built  
***yr_renovated*** - The year of the house’s last renovation  
***zipcode*** - What zipcode area the house is in  
***lat*** - Lattitude  
***long*** - Longitude  
***sqft_living15*** - The square footage of interior housing living space for the nearest 15 neighbors  
***sqft_lot15*** - The square footage of the land lots of the nearest 15 neighbors

# Task 2

### Проведите первичный анализ данных  
Изучите типы данных  
Найдите количество пропущенных ячеек в данных  
Посчитайте основные статистики по всем признакам и поизучайте их  
Пишите выводы

In [4]:
flats.dtypes

Unnamed: 0         int64
id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [5]:
flats.isnull().sum()

Unnamed: 0       0
id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [6]:
flats.describe()

,Unnamed: 0,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,21613.00000,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,...,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,10806.00000,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,...,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,6239.28002,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,...,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,0.00000,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,...,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,5403.00000,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,...,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,10806.00000,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,...,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,16209.00000,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,...,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,21612.00000,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,...,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

#### To sum on:

Таблица данных содержит 21613 строк.  
Пропущенные ячейки данных отсутствуют.  
Столбец Unnamed судя по данным содержит нумерацию строк по порядку.  
Неоднозначный расзброс по признаку "bedrooms" (Number of bedrooms) - минимум 0, масимальное 33 (при этом 75 квантиль = 4).  
Т.е это скорее всего выбросы.
Столбец zipcode (индекс) формат int64, на мой взгляд правильнее использовать формат object для такой категории.
Количество этажей floors - содержит не целые значения, при этом пояснений по ним нет в описательной части (max = 3,5)
Год постройки 1900 - возможно дата указана не верно и произведено автозаполнение.

**Общие выводы:**
Выборка сделана по объектам похожей территориальной принадлежности. Разброс 0.138564 ш.	0.140828 д.
Жилая площадь в среднем 2080, разброс при этом от 290 до 13540 (также выброс), 75 квантиль на уровне 2550.
Количество ванных комнат варируется от 0 до 33, при этом порядка 50% значений в диапазоне 3-4 комнаты.
Категории 	waterfront (фиктивная переменная, определяющая, выходила ли квартира на набережную или нет) и view (индекс от 0 до 4 того, насколько хорошим был вид на недвижимость) на уровне 0 у не менее чем 75% значений и соответственно скорее всего не являются описательными для выборки.
Большая часть объектов может быть отнесена к категории "средний уровень строительства и дизайна" (средний grade = 7,65,  75% значений в диапазоне 7-8 баллов).
Методика  работы с показателями квадратных метов внутренней жилой площади жилья и площади земельных участков ближайших 15 соседей требует уточнения.

# Task 3

### 3.1 В каком диапазоне изменяются стоимости недвижимости?

In [7]:
flats['price'].min(), flats['price'].max()

(75000.0, 7700000.0)

### 3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [8]:
round(flats['sqft_living'].mean() / np.mean(flats['sqft_living'] + flats['sqft_lot']),2)

0.12

### 3.3 Как много домов с разными этажами в данных?

In [9]:
flats['floors'].unique().shape[0]

6

### 3.4 Насколько хорошие состояния у домов в данных?

In [10]:
flats['condition'].value_counts(normalize=True)

condition
3    0.649193
4    0.262759
5    0.078703
2    0.007958
1    0.001388
Name: proportion, dtype: float64

An index from 1 to 5 on the condition of the apartment:
mostly 3 - 64%, 4 - 26%

### 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [11]:
flats['yr_built'].min(), flats['yr_built'].max()

(1900, 2015)

In [12]:
flats[flats['yr_built'] == flats['yr_built'].min()].shape[0], flats[flats['yr_built'] == flats['yr_built'].max()].shape[0],

(87, 38)

In [13]:
flats[flats['yr_built'] == flats['yr_built'].min()]

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
14,14,1175000570,2015-03-12,530000.0,5,2.00,1810,4850,1.5,0,...,7,1810,0,1900,0,98107,47.6700,-122.394,1360,4850
115,115,3626039325,2014-11-21,740500.0,3,3.50,4380,6350,2.0,0,...,8,2780,1600,1900,1999,98117,47.6981,-122.368,1830,6350
498,498,9274202270,2014-08-18,625000.0,2,1.50,1490,5750,1.5,0,...,7,1190,300,1900,0,98116,47.5872,-122.390,1590,4025
537,537,5694500105,2014-12-04,595000.0,2,2.00,1510,4000,1.0,0,...,7,1010,500,1900,0,98103,47.6582,-122.345,1920,4000
703,703,7011200260,2014-12-19,485000.0,4,2.00,1400,3600,1.0,0,...,7,1100,300,1900,0,98119,47.6385,-122.370,1630,2048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19063,19063,1702901340,2014-06-13,718500.0,3,2.00,2910,6600,2.0,0,...,7,1920,990,1900,1988,98118,47.5576,-122.281,1370,5500
19137,19137,3388110230,2014-07-29,179000.0,4,1.75,1790,7175,1.5,0,...,6,1410,380,1900,0,98168,47.4963,-122.318,1790,8417
19319,19319,4083302225,2014-10-14,850000.0,4,3.00,2550,3784,1.5,0,...,8,1750,800,1900,0,98103,47.6559,-122.338,2100,4560
19385,19385,2420069042,2015-04-24,240000.0,3,2.00,1553,6550,1.0,0,...,7,1553,0,1900,2001,98022,47.2056,-121.994,1010,10546
19598,19598,7518507685,2015-02-23,400000.0,3,1.00,1100,5100,2.0,0,...,7,1100,0,1900,0,98117,47.6790,-122.386,1540,5100

In [14]:
flats[flats['yr_built'] == flats['yr_built'].max()]

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
643,643,9385200045,2015-05-12,729500.0,3,2.50,1660,1091,3.0,0,...,9,1530,130,2015,0,98116,47.5818,-122.402,1510,1352
1763,1763,1832100030,2014-06-25,597326.0,4,4.00,3570,8250,2.0,0,...,10,2860,710,2015,0,98040,47.5784,-122.226,2230,10000
2687,2687,3076500830,2014-10-29,385195.0,1,1.00,710,6000,1.5,0,...,6,710,0,2015,0,98144,47.5756,-122.316,1440,4800
4154,4154,8077100031,2015-04-22,631000.0,3,2.25,1670,1396,2.0,0,...,9,1250,420,2015,0,98115,47.6814,-122.288,1610,5191
7526,7526,9520900210,2014-12-31,614285.0,5,2.75,2730,6401,2.0,0,...,8,2730,0,2015,0,98072,47.7685,-122.160,2520,6126
8039,8039,1250200495,2014-06-24,455000.0,2,1.50,1200,1259,2.0,0,...,8,1000,200,2015,0,98144,47.6001,-122.298,1320,1852
8425,8425,558100090,2015-03-12,628000.0,5,2.75,2600,8160,2.0,0,...,8,2600,0,2015,0,98133,47.7348,-122.340,1600,8160
14215,14215,8156600210,2015-03-26,1285000.0,5,3.50,2980,5100,2.0,0,...,10,2370,610,2015,0,98115,47.6782,-122.299,1780,5100
14489,14489,2770601530,2014-08-26,500000.0,2,2.25,1570,1269,2.0,0,...,9,1280,290,2015,0,98199,47.6514,-122.385,1570,6000
14925,14925,2770602360,2015-04-21,671000.0,4,2.75,1890,1475,2.0,0,...,9,1200,690,2015,0,98199,47.6472,-122.383,1650,1682
17098,17098,9126100346,2014-06-17,350000.0,3,2.00,1380,3600,3.0,0,...,8,1380,0,2015,0,98122,47.6074,-122.305,1480,3600
19722,19722,9161100075,2015-03-18,673000.0,4,2.25,2580,2875,2.0,0,...,9,2580,0,2015,0,98116,47.5674,-122.392,1290,5750
19805,19805,9126100765,2014-08-01,455000.0,3,1.75,1320,1014,3.0,0,...,9,1320,0,2015,0,98122,47.6047,-122.305,1380,1495
19863,19863,2768100510,2015-04-02,649000.0,3,2.00,1530,1442,3.0,0,...,9,1530,0,2015,0,98107,47.6692,-122.372,1620,1456
19907,19907,7853440140,2015-04-09,802945.0,5,3.50,4000,9234,2.0,0,...,9,4000,0,2015,0,98024,47.5265,-121.887,3690,6600
19945,19945,8011100047,2015-03-06,530000.0,4,2.75,2740,7872,2.0,0,...,10,2740,0,2015,0,98056,47.4954,-122.172,1220,6300
19959,19959,7853430690,2015-01-27,572800.0,3,2.50,3310,4682,2.0,0,...,9,2380,930,2015,0,98065,47.5201,-121.885,2660,5166
20086,20086,2768100512,2015-04-22,659000.0,2,2.50,1450,1213,2.0,0,...,9,1110,340,2015,0,98107,47.6692,-122.372,1620,1456
20251,20251,7853440050,2015-05-05,771005.0,5,4.50,4000,6713,2.0,0,...,9,4000,0,2015,0,98024,47.5254,-121.886,3690,6600
20311,20311,7132300525,2015-04-11,500000.0,3,1.75,1530,825,3.0,0,...,8,1530,0,2015,0,98144,47.5929,-122.308,1580,1915
20369,20369,4385700250,2015-04-07,1800000.0,4,3.50,3480,4000,2.0,0,...,9,2460,1020,2015,0,98112,47.6356,-122.281,2620,4000
20487,20487,9103000455,2015-04-24,920000.0,4,3.25,2190,4265,2.0,0,...,9,1540,650,2015,0,98122,47.6178,-122.290,1730,4265
20488,20488,8691440220,2015-02-02,1289990.0,5,4.00,4360,8030,2.0,0,...,10,4360,0,2015,0,98075,47.5923,-121.973,3570,6185
20698,20698,255470030,2015-04-29,619990.0,4,2.75,2630,4501,2.0,0,...,8,2630,0,2015,0,98028,47.7748,-122.244,2380,4599
20770,20770,9310300160,2014-08-28,357000.0,5,2.50,2990,9240,2.0,0,...,8,2990,0,2015,0,98133,47.7384,-122.348,1970,18110
20798,20798,952005863,2015-05-05,643950.0,3,2.25,1760,2122,3.0,0,...,9,1760,0,2015,0,98116,47.5633,-122.385,1420,1618
20852,20852,1257201420,2014-07-09,595000.0,4,3.25,3730,4560,2.0,0,...,9,2760,970,2015,0,98103,47.6725,-122.330,1800,4560
20881,20881,3052700385,2015-04-14,765000.0,4,2.25,2030,2222,2.0,0,...,9,1610,420,2015,0,98117,47.6790,-122.375,1420,2222
20933,20933,2652501565,2015-04-23,1550000.0,3,3.25,3530,4920,2.0,0,...,9,2660,870,2015,0,98109,47.6410,-122.357,1900,4200
20963,20963,6058600220,2014-07-31,230000.0,3,1.50,1040,1264,2.0,0,...,9,900,140,2015,0,98144,47.5951,-122.301,1350,3000
21262,21262,5694500840,2014-11-25,559000.0,2,3.00,1650,960,3.0,0,...,8,1350,300,2015,0,98103,47.6611,-122.346,1650,3000
21270,21270,1773100541,2015-04-17,389950.0,3,2.25,1580,920,3.0,0,...,8,1580,0,2015,0,98106,47.5578,-122.363,1250,1150
21316,21316,6600000050,2015-03-10,1698000.0,4,3.50,3950,6240,2.0,0,...,11,3950,0,2015,0,98112,47.6221,-122.290,2040,6240
21333,21333,2424059174,2015-05-08,1999950.0,4,3.25,5640,35006,2.0,0,...,11,4900,740,2015,0,98006,47.5491,-122.104,4920,35033
21369,21369,923059259,2015-04-01,455950.0,4,2.50,2720,5771,2.0,0,...,8,2720,0,2015,0,98056,47.4917,-122.170,1940,4184
21372,21372,6169901185,2014-05-20,490000.0,5,3.50,4460,2975,3.0,0,...,10,3280,1180,2015,0,98119,47.6313,-122.370,2490,4231
21432,21432,7104100110,2015-05-11,899000.0,4,3.50,2490,5500,2.0,0,...,9,1780,710,2015,0,98136,47.5499,-122.393,1710,5500
21501,21501,4233600150,2015-02-03,1150000.0,5,4.25,4010,8252,2.0,0,...,10,4010,0,2015,0,98075,47.5974,-122.013,3370,8252

# Task 4

### 4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [15]:
flats[flats['bedrooms'] == 2]['price'].mean()

401372.681884058

### 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [16]:
np.mean(flats[flats['price'] > 600000]['sqft_living'] + flats[flats['price'] > 600000]['sqft_lot'])

23337.999200767263

### 4.3 Как много домов коснулся ремонт?

In [17]:
flats[flats['yr_renovated'] > 0].shape[0]

914

### 4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [18]:
flats[flats['grade'] > 10]['price'].mean() - flats[flats['grade'] < 4]['price'].mean()

1488885.1175298805

# Task 5

## Выберите дом клиенту

### 5.1 Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [19]:
flats[(flats['waterfront']!= 0) & (flats['bathrooms'] >= 3) & (flats['sqft_basement'] > 0)].shape[0]

41

### 5.2 Клиент хочет дом  
либо с очень красивым видом из окна,  
либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года.  
В какой ценовом диапазоне будут дома?

In [20]:
choice = flats[(flats['view'] == 4) | ((flats['waterfront'] > 0) & (flats['condition'] == 5) & (flats['yr_built'] >= 1980))]

In [21]:
choice['price'].min(), choice['price'].max()

(252000.0, 6885000.0)

### 5.3 Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000.
Какая оценка по состоянию у таких домов в среднем?

In [22]:
round(flats[(flats['sqft_basement'] == 0) & (flats['floors'] == 2) & (flats['price'] < 150000)]['condition'].mean(),2)

2.83